<!DOCTYPE html>
        <head>
            <title>Homepage</title>
            
        </head>
        <body>
                <div class="row">
                        <img src="agriculture1.jpg" alt="agriculture photo" height="10%" width="100%">
                    </div>
            <!-- Navbar started -->
            <div class="row" style="border-bottom: 2px solid lightgrey; padding-top: 10px; padding-bottom: 1px">
    
                <div class="col-md-4 offset-md-4 ">
                     <h1>Council Employees</h1>
                </div>
            
                <div class="col-md-4">
                    <form class="form-inline" id="form">
                        <input class="form-control mr-sm-2" type="text" placeholder="Enter Your Email Address" value="" name="emailaddress">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">Get Notified</button>
                    </form>
    
                    <button id="successbutton" type="button" class="btn btn-success" style="display: none">Your Email id is Successfully Registed</button>
                </div>
    
            </div>
            <!-- Navbar Ends-->

            <%- body -%>
        </body>


</html>
    
    